body {
    background-color: black;
    height: 100%;
}
.wrapping {
    height: 100%;
    width: 100%;
    .NYimage .NYlogo {
            position: absolute;
            top: 200px;
        }
    #section {
        position: absolute;
        left: 290px;
        top: 300px;
    }
}
h3 {
    color: white;
    font-size: 25px;
    position: absolute;
    left: 290px;
    top: 265px;
}
#news {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    li{
        position: relative;
        width: 33%;
        overflow: hidden;
        img{
            width: 460px;
            height:350px;
        }
    }
}
p{
    position: absolute;
    width: 460px;
    height: 350px;
    color: white;
    background-color: rgba(27, 23, 23, 0.5);
    font-size: 15px;
    text-align: left;
    top: 280px;
}
.newsHD {
    display: none;
}
ul {
    position: relative;
}