body {
    background-color: black;
}
.wrapping {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    .NYimage {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
    .NYlogo {
        width: 100%;
        margin: 25px auto;
    }
    .text-wrapping{
        width: 120px;
        margin: 10px auto;
        h3 {
            color: white;
            font-size: 16px;
            font-family: fontItalic;
            margin: 10px 0;
        }
        select {
            border-color: initial;
            margin: 10px 0;
        }
    }
}
#news {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    li{
        position: relative;
        width: 100%;
        height: 350px;
        overflow: hidden;
        img{
            width: 100%;
            height:100%;
        }
    }
} 
.newsHD {
    display: none;
    width: 100%;
    position: absolute;
    width: 100%;
    height: 350px;
    background-color: rgba(27, 23, 23, 0.5);
    font-size: 16px;
    font-family: fontItalic;
    text-align: left;
    top: 240px;
    a {
        text-decoration: none;
        color: white;
    }
}

ul {
    position: relative;
}