footer {
    position: relative;
    // declared in body
    //background-color: black;
    width: 100%;
    height: 55px;
    h2 {
        position: absolute;
        color: #c2c2c2;
        //font-size: 16px;
        //font-family: fontItalic;
        left: 20px;
    }
}
@media only screen and (max-width: 1000px) {
    footer h2 {
        left: 40%;
    }
}
@media only screen and (max-width: 600px) {
    footer h2 {
        left: 30%;
    }
}