body {
    background-color: black;
}
.wrapping {
    position: relative;
    padding: 300px 0;
    height: 500px;
    width: 100%;
}
.NYimage {
    position: absolute;
    background: url(/assets/images/nyt-logo.svg) no-repeat, center;
    height: 447px;
    width: 500px;
}
.sections {
    position: absolute;
    width: 200px;  
    height: 75px;
}